{% load news_tags %}  

{% comment %}
    <div class="list-group">
    {% get_list_categories as categories %}
    {% for item in categories %}
    <a href="{% url 'category' item.pk %}" class="list-group-item">
        {{item.title}}
    </a>
    {% endfor %}
</div>
<br>
{% endcomment %}    

{% show_categories arg2='User'%}