{% extends 'base.html' %}

{% block title %}
Добавление новости :: {{ block.super }}
{% endblock title %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

<h1>Добавление новости</h1>

<form action="{% url 'add_news' %}" method="post">
    {% csrf_token %}

    <!-- автоматический рендеринг формы -->
    {{ form.as_p }}
   
    <!-- Ручной вывод для кастомизации-->
    {% comment %}
        <!-- Какое поле в форме выводит ошибки по умолчанию или ошибки скрытых полей например -->
    {{ form.non_field.errors }}
    <div class="form-group">
        <label for="{{ form.title.id_for_label }}">Название: </label>
        {{ form.title }}
        <div class="invalid-feedback">
            {{ form.title.errors }}
        </div>
    </div>   
    <div class="form-group">
        <label for="{{ form.content.id_for_label }}">Текст: </label>
        {{ form.content }}
        <div class="invalid-feedback">
            {{ form.content.errors }}
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.is_published.id_for_label }}">Опубликовать: </label>
        {{ form.is_published }}
        <div class="invalid-feedback">
            {{ form.is_published.errors }}
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.category.id_for_label }}">Категория: </label>
        {{ form.category }}
        <div class="invalid-feedback">
            {{ form.category.errors }}
        </div>
    </div>
    {% endcomment %}
      
    <!-- Полуавтоматический - если все поля идут с одинаковой разметкой-->    
    {% comment %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            <div class="invalid-feedback">
                {{ field.errors }}
            </div>
        </div>
        {% endfor %}
    {% endcomment %}
       
    <button type="submit" class="btn btn-primary btn-block">Добавить новость</button>
</form>

{% endblock %}
