<div class="list-group">
    {% comment %}
    {{ arg1 }} {{ arg2 }}
    {% endcomment %}

    {% for item in categories %}
    <a href="{{ item.get_absolute_url }}" class="list-group-item list-group-item-action">
        {{item.title}}
        <span class="badge bg-primary rounded-pill float-end">{{ item.cnt }}</span>
    </a>
    {% endfor %}
</div>

<!-- можно еще так-->
{% comment %}
<a href="{% url 'category' item.pk %}" class="list-group-item">
    {{item.title}}
</a>
{% endcomment %}