{% extends 'base.html' %}

{% block title %}
Регистрация :: {{ block.super }}
{% endblock title %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

<h1>Регистрация</h1>

<form method="post">
    <!-- Сгенерирует токен для формы (против подмены форм)-->
    {% csrf_token %}
    <!-- Элементы формы будут в параграфе -->
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-block">Регистрация</button>
</form>
{% endblock %}
