{% extends 'base.html' %}

{% block title %}
Обратная связь :: {{ block.super }}
{% endblock title %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

<h1>Обратная связь</h1>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-block">Отправить письмо</button>
</form>


{% endblock %}