{% extends "base.html" %}
{% load static %}

{% block title %}
    Поиск :: {{ block.super }}
{% endblock title %}

{% block content %}
  
<section class="blog-post-area">
    <div class="container">
        <div class="border-top" style="border-top: 1px solid #40c4ff"></div>
        <div class="row">
            <div class="blog-post-area-style">                    
                    {% for post in posts %}
                    <div class="col-md-3">
                        <div class="single-post">
                            {% if post.photo %}
                                <img src="{{ post.photo.url }}" alt="{{ post.title }}">
                            {% else %}
                                <img src="https://picsum.photos/id/1060/300/201/?blur=2" alt="{{ post.title }}">
                            {% endif %}
                            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                            <h4><span>Posted By: <span class="author-name">{{ post.author }}</span></span>
                            </h4>                            
                            {{ post.content | truncatewords_html:20 | safe }}
                            <h4><span>{{ post.created_at | date:'d.m.Y' }}</span></h4>
                        </div>
                    </div>
                    {% empty %}  
                    <p>По вашему запросу ничего не найдено.</p>  
                    {% endfor %}              
            </div>
        </div>
    </div>

    {% if page_obj.has_other_pages %}
    <div class="pegination">
        <div class="nav-links">

            {% if page_obj.has_previous %}
                <a class="page-numbers" href="?{{ s }}page={{ page_obj.previous_page_number }}">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </a>
            {% endif %}

            {% for p in page_obj.paginator.page_range %}
                
                {% if page_obj.number == p %}
                    <span class="page-numbers current">{{ p }}</span>
                {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                <!-- s - если идет поисковый запрос -->
                    <a class="page-numbers" href="?{{ s }}page={{ p }}">{{ p }}</a>
                {% endif %}
                    
            {% endfor %}
            
            {% if page_obj.has_next %}
                <a class="page-numbers" href="?{{ s }}page={{ page_obj.next_page_number }}">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
            {% endif %}

            
        </div>
    </div>
    {% endif %}
</section>

{% endblock content %}